# Python Compiled Files
__pycache__/
*.py[codz]

# Virtual Environments
venv/
.venv/
env/

# Datasets
*.csv
*.xlsx
*.parquet

# Machine Learning Models
# Uncomment the line below if your model is too large for GitHub (>50MB)
# *.pkl

# IDE / OS Files
.vscode/
.idea/
.DS_Store
